* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #370017;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.filter-bar {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.filter-btn {
    padding: 8px 16px;
    background-color: #600028;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.filter-btn.active {
    background-color: #BD0050;
}

.task-input-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.input-task {
    background-color: #600028;
    border: 1px solid rgba(255,255,255,0.1);
    color: white;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

.add-task {
    background-color: #BD0050;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.task-list {
    width: 100%;
    padding: 20px;
}

.card {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background-color: #600028;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 1px;
    margin-bottom: 10px;
}

.card p {
    flex: 1;
    text-align: left;
}

.button-group {
    margin-left: auto;
    display: flex;
    gap: 4px;
}

.buttons {
    padding: 8px 12px;
    background-color: #BD0050;
    border: 1px solid #821342;
    border-radius: 1px;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.clear-task {
    background-color: #600028;
    color: white;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
}
